<style>
	.main_container{
		margin-left:auto;
		margin-right:auto;
		padding-bottom: 20px;
		width:1139px;
		height: fixed;
	}
	
	.navbar_container {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #4d4d4d;
		height: 48px;
	}

	.navbar_container li {
		float: left;
	}

	.navbar_container a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.navbar_container a:hover {
		background-color: #111;
	}
	
	.navbar_container a a:hover {
		color:white;
	}
	
</style>

<nav class="main_container" role="navigation">
	<ul class = "navbar_container">
		<li><a class="page_title" href="#">
				<span class="glyphicon glyphicon glyphicon-road"></span>
				 Bill Tracker
			</a>
		</li>
		<li><a href="/browse">Browse Bills</a></li>
		<li><a href="/dashboard">Dashboard</a></li>
		<li style = "float:right; margin-right: 20px;"><a href="/login">Login</a></li>
	</ul>

</nav>