<html>
	<head>
		<% include ./partials/head.ejs %>
		<% include ./partials/header.ejs %>
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src = '/JS/dashboard.js' /></script>
	</head>
	
	<body>
	</body>
</html>