.main_wrapper{
	margin-left:auto;
    margin-right:auto;
    width:1139px;
}

.bill_id_header{
	position: absolute;
	margin-top: -22px;
	margin-left: 50px;
	text-align: center;
}

.selection_type{
	margin-top: 220px;
	position: fixed;
	margin-left: -40px;
}

.inner_card{
	height: 100%;
	width: 100%;
}

.disabled_mark{
	border-style: solid;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-color: #404040;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.page_num{
	position: fixed;
	margin-left: -32px;
}

.pagination_element{
	float:left;
	clear:left;
}

.bill_element{
	padding: 40px;
	-webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.button_group{
	margin-top:10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
	
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

#modal-content {
    position: fixed;
    top:0;
    background-color: #404040;
	margin-left: 15%;
	margin-right: 15%;
    width: 70%;
	
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-header {
	padding-left: 10px;
	padding-right: 15px;
    background-color: #404040;
    color: white;
}

#modal-body {padding: 2px 16px;}

/* SNACKBAR */

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

#snackbar.showShort {
    visibility: visible;

    -webkit-animation: fadein 0.25s, fadeout 0.25s .5s;
    animation: fadein 0.25s, fadeout 0.25s .5s;
}

#snackbar.showLong {
    visibility: visible;

    -webkit-animation: fadein 0.25s, fadeout .5s 2s;
    animation: fadein 0.25s, fadeout .5s 2s;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}